@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');
//theme colors
$main-lighten: #c5cbe3;
$main-darken: #264653;
$main-brown: #d79922;
$main-violet: #f4a261;
$main-red: #2a9d8f;
$main-brown-lighten: #efe2ba;

$main-green: #235f39;

// dimensions
$player-block-controls-height: 40px;

// owerite bootstrap
$gray-800: $main-darken;
$blue: $main-brown;

$font-family-sans-serif: Pangolin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: Pangolin, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;



