@import 'variables';

.container {
  color: $main-green;
}

.errorBlock {
  font-size: .9rem;
  animation-name: slowShowing;
  animation-duration: 3s;
}

@keyframes slowShowing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
