@import "_variables.scss";

@import '~bootstrap/scss/bootstrap';


body {
  height: 100vh;
  background: black;
}


#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-homepage {
  text-align: center;
}
