@import '../styles/_variables.scss';

.homepage {
    overflow: hidden;
    background-color: black;

    &-background, &-title {
        width: 100%;
        height: 100%;
    }

    &-background {
        //bottom: 0;
        &-img {
            width: 100%;
            max-height: 80%;
            bottom: 0;
        }
    }

    &-title {
        text-align: center;
        top: 20%;
        z-index: 100;
        &-img {
            max-width: 100%;
        }
    }

    &-sub-title {
        font-size: 60px;
        font-weight: bold;
        font-stretch: 200%;
        //position: relative;

        .homepage-sub-title-letter {
            //position: absolute;
            display: inline-block;
        }
    }

    &-smoke {
        z-index: 99;
        transform: scale3d(1.3, 1.3, 1.3);
        //bottom: -80%;
    }

    &-smoke-lighten {
        z-index: 101;
    }
}

@media (max-width: 600px) {
    .homepage-background-img {
        height: 70%;
    }
}


